/* Default Styles
============================ */
// font
$btn-color: $accent-light; // default font color
$btn-font-size: $default-font-size; // default font size

// background
$btn-background-color: $accent-dark-lighter; // default button bg
$btn-hover-background-color: $primary; // default button bg on hover
$btn-active-background-color: $primary-dark; // bg on click

// layout / other
/*
 * you can use shorthand where you normally would
 * with css. for example, you could use
 * 1px solid #FFF for border. 
 */
$btn-padding: 0.65em 1em; // padding
$btn-margin: $default-margin; // margin
$btn-border: none; // border

/* Size Factors
============================ */
$btn-huge-font-size:   200%; // huge
$btn-large-font-size:  150%; // large
$btn-small-font-size:  75%;  // small
