// colors
$button-color: $accent-light; // default font color
$button-background-color: $accent-dark-lighter; // default button bg
$button-hover-background-color: $primary; // default button bg on hover
$button-active-background-color: $primary-dark; // bg on click

// other styles
$button-border: none; // default border
$button-padding: 0.65em 1em; // default padding
$button-margin: $default-margin; // default margin
$button-font-size: $default-font-size; // default font size

// size factors
$button-huge-font-size:   200%; // huge
$button-large-font-size:  150%; // large
$button-small-font-size:  75%;  // small
