/* Color Palette
============================ */
$primary:       #1B8FB8;
$accent-1:      #D65030;
$accent-2:      #D48D2B;
$accent-3:      #1F7D24;
$accent-4:      #BDAD1B;
$accent-dark:   #444444; // designed to be a dark color
$accent-light:  #efefef; // designed to be a light color

// used primarily for notifications:
$warning:       #CCA300;
$danger:        #CC0000;
$success:       #008A2E;

// groups

// color factors -- to increase tone
$color-factor-1: 5%;
$color-factor-2: 15%;
$color-factor-3: 25%;

// tones
$primary-light:     lighten($primary, $color-factor-1);
$primary-lighter:   lighten($primary, $color-factor-2);
$primary-lightest:  lighten($primary, $color-factor-3);
$primary-dark:      darken($primary, $color-factor-1);
$primary-darker:    darken($primary, $color-factor-2);
$primary-darkest:   darken($primary, $color-factor-3);

$accent-1-light:     lighten($accent-1, $color-factor-1);
$accent-1-lighter:   lighten($accent-1, $color-factor-2);
$accent-1-lightest:  lighten($accent-1, $color-factor-3);
$accent-1-dark:      darken($accent-1, $color-factor-1);
$accent-1-darker:    darken($accent-1, $color-factor-2);
$accent-1-darkest:   darken($accent-1, $color-factor-3);

$accent-2-light:     lighten($accent-2, $color-factor-1);
$accent-2-lighter:   lighten($accent-2, $color-factor-2);
$accent-2-lightest:  lighten($accent-2, $color-factor-3);
$accent-2-dark:      darken($accent-2, $color-factor-1);
$accent-2-darker:    darken($accent-2, $color-factor-2);
$accent-2-darkest:   darken($accent-2, $color-factor-3);

$accent-3-light:     lighten($accent-3, $color-factor-1);
$accent-3-lighter:   lighten($accent-3, $color-factor-2);
$accent-3-lightest:  lighten($accent-3, $color-factor-3);
$accent-3-dark:      darken($accent-3, $color-factor-1);
$accent-3-darker:    darken($accent-3, $color-factor-2);
$accent-3-darkest:   darken($accent-3, $color-factor-3);

$accent-4-light:     lighten($accent-4, $color-factor-1);
$accent-4-lighter:   lighten($accent-4, $color-factor-2);
$accent-4-lightest:  lighten($accent-4, $color-factor-3);
$accent-4-dark:      darken($accent-4, $color-factor-1);
$accent-4-darker:    darken($accent-4, $color-factor-2);
$accent-4-darkest:   darken($accent-4, $color-factor-3);

$accent-dark-light:     lighten($accent-dark, $color-factor-1);
$accent-dark-lighter:   lighten($accent-dark, $color-factor-2);
$accent-dark-lightest:  lighten($accent-dark, $color-factor-3);

$accent-light-dark:      darken($accent-light, $color-factor-1);
$accent-light-darker:    darken($accent-light, $color-factor-2);
$accent-light-darkest:   darken($accent-light, $color-factor-3);

$success-light:     lighten($success, $color-factor-1);
$success-lighter:   lighten($success, $color-factor-2);
$success-lightest:  lighten($success, $color-factor-3);
$success-dark:      darken($success, $color-factor-1);
$success-darker:    darken($success, $color-factor-2);
$success-darkest:   darken($success, $color-factor-3);

$warning-light:     lighten($warning, $color-factor-1);
$warning-lighter:   lighten($warning, $color-factor-2);
$warning-lightest:  lighten($warning, $color-factor-3);
$warning-dark:      darken($warning, $color-factor-1);
$warning-darker:    darken($warning, $color-factor-2);
$warning-darkest:   darken($warning, $color-factor-3);

$danger-light:     lighten($danger, $color-factor-1);
$danger-lighter:   lighten($danger, $color-factor-2);
$danger-lightest:  lighten($danger, $color-factor-3);
$danger-dark:      darken($danger, $color-factor-1);
$danger-darker:    darken($danger, $color-factor-2);
$danger-darkest:   darken($danger, $color-factor-3);