$form-margin: $default-margin;
$form-width: 100%;
$form-box-sizing: border-box;
$form-border: 1px solid $accent-light-darker;
$form-focus-outline: none;
$form-focus-border: 1px solid $primary;
$form-input-padding: 4px;
$form-radio-margin: 0 0 0.5em 0;

$form-fieldset-border: 1px solid $accent-light-darker;
$form-fieldset-legend-font-weight: 600;
$form-fieldset-legend-padding: 0 5px;
