// sizes
$img-thumb-width: 100px;
$img-medium-width: 250px;
$img-large-width: 400px;

// border and outlines
$img-outline-color: $accent-light-dark;
$img-frame-width: 0.5em;
$img-polaroid-frame-width: 0.75em;
$img-polaroid-bottom-width: 2.75em;

// panoramic
$img-panoramic-height: 200px;
