// top bar
$nav-tb-padding: 0.5em 1.25em;
$nav-tb-font-size: 1.1em;
$nav-tb-background: transparent;
$nav-tb-color: $primary-light;
$nav-tb-background-hover: transparent;
$nav-tb-color-hover: $accent-light;

// horizontal
$nav-h-padding: $nav-tb-padding;
$nav-h-font-size: $nav-tb-font-size;
$nav-h-background: transparent;
$nav-h-color: $primary;
$nav-h-background-hover: $primary;
$nav-h-color-hover: $accent-light;

// vertical
$nav-v-padding: 0.5em;
$nav-v-font-size: 1em;
$nav-v-background: transparent;
$nav-v-color: $accent-light-darkest;
$nav-v-background-hover: transparent;
$nav-v-color-hover: $primary;

// filters
$nav-f-padding: 0.5em;
$nav-f-font-size: 0.9em;
$nav-f-background: transparent;
$nav-f-color: $primary;
$nav-f-background-hover: $primary;
$nav-f-color-hover: $accent-light;

// breadcrumbs
$nav-b-padding: 0.5em;
$nav-b-font-size: 0.9em;
$nav-b-background: transparent;
$nav-b-color: $primary-light;
$nav-b-background-hover: transparent;
$nav-b-color-hover: $primary;
$nav-b-separator: " \002F ";
