$table-width: 100%;
$table-border: 1px solid $accent-light-darker;
$table-cell-padding: 5px 10px;
$table-header-background: $primary;
$table-header-color: $accent-light;
$table-header-font-weight: 400;
$table-cell-accent-background: $accent-light;
