$heading-margin: 0.75em 0 0.6em 0;
$heading-color: $font;

$h1-font-size: 2.75em;
$h1-font-weight: 600;
$h1-caps: false;

$h2-font-size: 2.4em;
$h2-font-weight: 600;
$h2-caps: false;

$h3-font-size: 2.05em;
$h3-font-weight: 600;
$h3-caps: false;

$h4-font-size: 1.7em;
$h4-font-weight: 600;
$h4-caps: false;

$h5-font-size: 1.35em;
$h5-font-weight: 600;
$h5-caps: false;

$h6-font-size: 1.0em;
$h6-font-weight: 600;
$h6-caps: false;

$subheading-color: $font;
$subheading-font-weight: 200;
$subheading-size-factor: 0.75;

$paragraph-font: $default-font-size;
$paragraph-font-weight: $default-font-weight;
$paragraph-margin: 0.75em 0 1em 0;
$paragraph-line-height: $default-line-height;
$paragraph-color: $font;