// Typography
$base-font-family: $helvetica !default;
$heading-font-family: $base-font-family !default;
$all-headings: h1, h2, h3, h4, h5, h6;

// Font Sizes
$base-font-size: 1em !default;
$em-base: 16px !default;
$modular-scale-ratio: $perfect-fourth !default;
$modular-scale-base: rem($em-base) !default;
$fine-print: 0.75em !default;

// Line height
$base-line-height: 1.5 !default;
$heading-line-height: 1.2 !default;

// Other Sizes
$base-border-radius: 3px !default;
$base-spacing: $base-line-height * 1em !default;
$large-spacing: $base-spacing * 2 !default;
$small-spacing: $base-spacing / 2 !default;
$base-z-index: 0 !default;

// Colors
$blue: #509CB9 !default;
$green: #62B072 !default;
$orange: #ED5A3B !default;
$pink: #F56564 !default;
$red: #ED3833 !default;
$yellow: #F5C43C !default;

$dark: #444 !default;
$dk-grey: #333 !default;
$md-grey: #999 !default;
$grey: $md-grey !default;
$lt-grey: #ddd !default;
$light: #fff !default;

$primary: $blue !default;
$error: $red !default;
$success: $green !default;

// Font Colors
$base-font-color: $dk-grey !default;
$action-color: $primary !default;

// Border
$base-border-color: $lt-grey !default;
$base-border: 1px solid $base-border-color !default;

// Background Colors
$base-background-color: $light !default;
$secondary-background-color: tint($base-border-color, 75%) !default;

// Form Inputs
$input-box-shadow: none !default;
$input-box-shadow-focus: none !default;
$input-border: 1px solid transparent !default;
$input-border-color-focus: $primary !default;
$input-background-color: transparent !default;
$input-color: $base-font-color !default;
$input-padding: $base-spacing / 3 !default;

// Form Labels
$label-color: $base-font-color !default;
$label-font-size: $base-font-size !default;
$label-font-weight: 600 !default;
$label-text-transform: none !default;

// Shadows
$base-box-shadow: 1px 1px 5px $dk-grey !default;
$reverse-box-shadow: -1px 1px 5px $dk-grey !default;

// Animations
$base-duration: 150ms !default;
$base-timing: ease !default;

// Images
$all-images: img, svg !default;

// Media Queries
$small: 500px !default;
$medium: 767px !default;
$large: 1200px !default;

// Arrangement
$z0: 0 !default;
$z1: 9 !default;
$z2: 99 !default;
$z3: 999 !default;
$z4: 9999 !default;
$z5: 99999 !default;
