/* Colors */
$primary: #009b77;
$secondary: #444444;
$contrast: #efefef;
$font: #444444;
$code: #d14;
$shadow: #444444;

$warning: #CCA300;
$danger: #CC0000;
$success: #008A2E;

/* Image Sizes */
$img_small: 150px;
$img_medium: 300px;
$img_large: 450px;
