@import 'base';
@import 'colors';
@import 'vars';
@import 'mixins';

/* =Global
-------------------- */
body {
  font: 15px Helvetica, arial, freesans, clean, sans-serif;
  line-height: normal;
  color: $font;
  width: 100%;
}

::selection {
  color: $contrast;
  background: $primary;
}

.clearfix {
  @include clearfix;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

/* =Floaters
-------------------- */
hr {
  border: none;
  background: $contrast;
  margin: 0.75em 0;
  height: 1px;
}

/* =Typography
-------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0.75em 0 0.6em 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2.0em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.1em;
}

.subheading {
  font-weight: 200;
  color: lighten($font, 20%);
}

small {
  font-size: 60%;
  color: lighten($font, 20%);
}

big {
  font-size: 140%;
}

p {
  margin: 0 0 0.75em 0;
  line-height: 1.35em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: $code;
  font-size: 13px;
  background: $contrast;
  padding: 2px 4px;
  border: 1px solid darken($contrast, 10%);
}

pre {
  padding: 0.75em;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  background: $contrast;
  border: 1px solid darken($contrast, 10%);
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding: 0.75em;
  color: $font;
  background: $contrast;
  border: 1px solid darken($contrast, 10%);
  font-size: 110%;
  font-weight: 200;
  cite {
    font-size: 88%;
    font-weight: 400;
    color: lighten($font, 20%);
    display: block;
    margin: 0.75em 0 0.25em 0;
    &:before {
      content: '\2014 \00A0'
    }
  }
}

ul, ol {
  margin: 0 0 0 1em;
  line-height: 1.25em;
  li {
    margin: 0.25em 0;
  }
  ul, ol {
    margin: 0 0 0 1.5em;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.text-center {
  text-align: center;
}

/* =Grid System
-------------------- */
.row {
  @include clearfix;
  width: 100%;
  .column, .columns {
    float: left;
    margin: 1em 0.5%;
    &:first-child {
      margin: 1em 0.5% 1em 0;
    }
    &:last-child {
      margin: 1em 0 1em 0.5%;
    }
  }
}

.one {
  width: 7.41666666%;
}

.two {
  width: 15.8333333%;
}

.three {
  width: 24.25%;
}

.four {
  width: 32.6666666%;
}

.five {
  width: 41.08333333%;
}

.six {
  width: 49.5%;
}

.seven {
  width: 57.9166666%;
}

.eight {
  width: 66.33333333%;
}

.nine {
  width: 74.75%;
}

.ten {
  width: 83.16666666%;
}

.eleven {
  width: 91.58333333%;
}

.twelve {
  width: 100%;
  margin: 1em 0 !important;
}

.grey-test {
  background: gray;
  padding: 10px 0;
  color: white;
}

/* =Containers
-------------------- */
.container {
  padding: 20px 25px; 
  max-width: 960px;
  margin: auto;
}
