/*
==========================
Bones CSS Framework
==========================

Version: 0.1

----------
CONTENTS
----------
* Base            –> styles shared among all elements
    * Containers 
    * Global Styles
    * Miscellaneous Elements
* Dropdown Menu   –> main navigation menu
* Typography      -> all necessary general HTML5 elements -- includes some helper classes 
    * Headings
    * Subheadings
    * Text Blocks
    * Characters
    * Lists
* Grid System     -> responsive grid based on 12 columns
* Tabs            -> horizontal tabs and assoicated containers
* Tooltips        -> all tooltips and related containers -- including specific classes
* Buttons         -> self-explanatory I'd say
* Forms           -> standard form contents
* Helpers         -> specific classes that perform one or more styles to an element
* Responsive      -> breakpoints for responsive design


*/


@import 'base';
@import 'vars';
@import 'mixins';



/* =Base
-------------------- */
/* -Containers */
body {
  font: 15px Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 200;
  line-height: normal;
  color: $font;
  width: 100%;
  position: absolute;
}

.container {
  padding: 20px 25px; 
  max-width: 960px;
  margin: auto;
  background: white;
}

.full-width-container {
  padding: 20px 25px;
}

/* -Global Styles */
::selection {
  color: $contrast;
  background: $primary;
}

.clearfix {
  @include clearfix;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

/* -Miscellaneous Elements */
hr {
  border: none;
  background: $contrast;
  margin: 0.75em 0;
  height: 1px;
}

/* =Dropdown Menu
-------------------- */
.nav-container {
  @include clearfix;
  display: block;
  background: $secondary;
  width: 100%;
  .nav-toggle {
    color: darken($contrast, 25%);
    padding: 5px 20px;
    float: left;
    display: none;
    &:hover {
      cursor: pointer;
      color: $contrast;
    }
  }
  .nav {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin: 0;
      a {
        display: block;
        color: darken($contrast, 25%);
        padding: 12px 20px;
        &:hover {
          text-decoration: none;
          color: $contrast;
          background: $primary;
        }
      }
      &:hover > .dropdown {
        display: block;
      }
    }
    .dropdown, .sub-dropdown {
      display: none;
      position: absolute;
      background: $secondary;
      margin: 0;
      box-shadow: 1px 1px 5px $shadow;
      li {
        display: block;
        a {
          padding: 7px 20px;
          &:hover {
            color: darken($contrast, 25%);
            background: lighten($secondary, 10%);
          }
        }
      }
    }
    .dropdown li:hover > .sub-dropdown {
        display: block;
    }
    .sub-dropdown {
      left: 100%;
      top: 31px;
      min-width: 100%;
    }
  }
}

/* =Typography
-------------------- */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0.75em 0 0.6em 0;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.9em;
  margin: 1.0em 0 0.25em 0;
}

h3 {
  font-size: 1.65em;
  font-weight: 400;
  margin: 1.0em 0 0.25em 0;
}

h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 1.1em 0 0 0;
}

h5 {
  font-size: 0.9em;
  font-weight: 400;
}

h6 {
  font-size: 0.8em;
}

/* Subheadings */
.subheading {
  font-weight: 200;
  color: lighten($font, 20%);
}

/* Text Blocks */
p {
  margin: 0 0 0.75em 0;
  line-height: 1.35em;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: $code;
  font-size: 13px;
  background: $contrast;
  padding: 2px 4px;
  border: 1px solid darken($contrast, 10%);
}

pre {
  margin: 1.25em 0;
  padding: 0.75em;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  background: $contrast;
  border: 1px solid darken($contrast, 10%);
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

blockquote {
  padding: 0.75em;
  color: $font;
  background: $contrast;
  border: 1px solid darken($contrast, 10%);
  font-size: 110%;
  font-weight: 200;
  cite {
    font-size: 88%;
    font-weight: 400;
    color: lighten($font, 20%);
    display: block;
    margin: 0.75em 0 0.25em 0;
    &:before {
      content: '\2014 \00A0'
    }
  }
}

/* Characters */
a {
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: 60%;
  color: lighten($font, 20%);
}

big {
  font-size: 140%;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}


/* Lists */
ul, ol {
  margin: 0 0 0 1em;
  line-height: 1.25em;
  li {
    margin: 0.25em 0;
  }
  ul, ol {
    margin: 0 0 0 1.5em;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* =Grid System
-------------------- */
.row {
  @include clearfix;
  width: 100%;
  .column, .columns {
    float: left;
    margin: 1em 0.5%;
    &:first-child {
      margin: 1em 0.5% 1em 0;
    }
    &:last-child {
      margin: 1em 0 1em 0.5%;
    }
  }
}

.one {
  width: 7.41666666%;
}

.two {
  width: 15.8333333%;
}

.three {
  width: 24.25%;
}

.four {
  width: 32.6666666%;
}

.five {
  width: 41.08333333%;
}

.six {
  width: 49.5%;
}

.seven {
  width: 57.9166666%;
}

.eight {
  width: 66.33333333%;
}

.nine {
  width: 74.75%;
}

.ten {
  width: 83.16666666%;
}

.eleven {
  width: 91.58333333%;
}

.twelve {
  width: 100%;
  margin: 1em 0 !important;
}

/* =Tabs
-------------------- */
ul.tabs {
  list-style-type: none;
  margin: 0 0 10px 0;
  border-bottom: 1px solid darken($contrast, 20%);
  li {
    display: inline-block;
    padding: 8px 10px;
    margin: 0 0 -1px 10px;
    border: 1px solid darken($contrast, 10%);
    border-bottom-color: darken($contrast, 20%);
    border-radius: 4px 4px 0 0;
    &:hover {
      cursor: pointer;
      border: 1px solid darken($contrast, 20%);
      border-bottom-color: transparent;
    }
  }
  li.active {
    border: 1px solid darken($contrast, 20%);
    border-bottom-color: white;
  }
}

.tab-content {
  display: none;
}

.first-tab {
  display: inherit;
}

/* =Tooltips
-------------------- */
.bones-tooltip {
  display: none;
  position: absolute;
  max-width: 200px;
  font: normal 11px "Helvetica Neue", Sans-Serif;
  padding: 10px;
  border-radius: 3px;
  background: $primary;
  color: $contrast;
  box-shadow: 0 0 2px $shadow;
}

div.arrow-bottom {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #009b77;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -10px;
  bottom: -10px;
  &:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0 0 2px $shadow;
  }
}

.define {
  border-bottom: 1px dotted $font;
  &:hover {
    cursor: help;
  }
}

/* =Buttons
-------------------- */
.button {
  @include button( lighten($secondary,5%), darken($secondary,5%) );
}

.button-primary {
  @include button( $primary, darken($primary,5%) );
}

.button-warning {
  @include button( $warning, darken($warning,5%) );
}

.button-danger {
  @include button( $danger, darken($danger,5%) );
}

.button-success {
  @include button( $success, darken($success,5%) );
}

/* =Forms
-------------------- */
label {
  display: block;
}

input, textarea {
  display: block;
  font-size: 1em;
  color: $font;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 200;
  border-radius: 0;
  &:focus {
    outline: 1px solid $primary;
  }
  &[type=submit] {
    @include button( $primary, darken($primary,5%) );
  }
}

/* =Alerts
-------------------- */
.alert-primary {
  @include alert($primary);
}

.alert-success {
  @include alert($success);
}

.alert-warning {
  @include alert($warning);
}

.alert-danger {
  @include alert($danger);
}

/* =Images
-------------------- */
img {
  margin: 5px;
}

img.small {
  width: $img_small;
}

img.medium {
  width: $img_medium;
}

img.large {
  width: $img_large;
}

.rounded {
  border-radius: 10px;
}

.polaroid {
  border: 5px solid #FFFFFF;
  outline: 1px solid darken($contrast, 10%);
}

div.crop {
  @include img_crop();
}

div.img-small {
  width: 150px;
  height: 150px;
}

div.img-medium {
  width: 300px;
  height: 300px;
}

div.img-large {
  width: 450px;
  height: 450px;
}

div.img-panoramic {
  margin: 0;
  width: 100%;
  height: 200px;
}


/* =Helpers
-------------------- */
.bkg-primary {
  background: $primary;
  color: $contrast;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* =Responsive
-------------------- */
/* Landscape Tablets */
@media (max-width: 1024px) {
  
}

/* Portrait Tablets */
@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
  
  .column, .columns {
    width: 100%;
    margin: 10px 0;    
  }
  
  .nav-container {
    .nav-toggle {
      display: inline-block;
    }
    .nav {
      /*display: none;*/
      position: fixed;
      top: 0;
      left: 0;
      background: $secondary;
      height: 100%;
      width: 200px;
      z-index: -9999;
      li {
        display: block;
        .dropdown, .sub-dropdown {
          box-shadow: none;
          position: relative;
          display: inherit; 
          top: 0;
          left: 0;
          margin: 0;
          li {
            display: block;
            a {
              padding: 7px 0 7px 35px;
            }
          }
        }
        .sub-dropdown li a {
          padding: 7px 0 7px 50px;
        }
      }
    }
  }
  
}

/* Landscape Phones */
@media (max-width: 480px) {
    
}

/* Portrait Phones */
@media (max-width: 320px) {
  
}



