// primary
.bg-primary {
  background-color: $color-1 !important;
}
.bg-primary-light {
  background-color: $color-1-light !important;
}
.bg-primary-lighter {
  background-color: $color-1-lighter !important;
}
.bg-primary-lightest {
  background-color: $color-1-lightest !important;
}
.bg-primary-dark {
  background-color: $color-1-dark !important;
}
.bg-primary-darker {
  background-color: $color-1-darker !important;
}
.bg-primary-darkest {
  background-color: $color-1-darkest !important;
}

// accent-1
.bg-accent-1 {
  background-color: $color-2 !important;
}
.bg-accent-1-light {
  background-color: $color-2-light !important;
}
.bg-accent-1-lighter {
  background-color: $color-2-lighter !important;
}
.bg-accent-1-lightest {
  background-color: $color-2-lightest !important;
}
.bg-accent-1-dark {
  background-color: $color-2-dark !important;
}
.bg-accent-1-darker {
  background-color: $color-2-darker !important;
}
.bg-accent-1-darkest {
  background-color: $color-2-darkest !important;
}

// accent-2
.bg-accent-2 {
  background-color: $color-3 !important;
}
.bg-accent-2-light {
  background-color: $color-3-light !important;
}
.bg-accent-2-lighter {
  background-color: $color-3-lighter !important;
}
.bg-accent-2-lightest {
  background-color: $color-3-lightest !important;
}
.bg-accent-2-dark {
  background-color: $color-3-dark !important;
}
.bg-accent-2-darker {
  background-color: $color-3-darker !important;
}
.bg-accent-2-darkest {
  background-color: $color-3-darkest !important;
}

// accent-light
.bg-accent-light {
  background-color: $color-light !important;
}
.bg-accent-light-dark {
  background-color: $color-light-dark !important;
}
.bg-accent-light-darker {
  background-color: $color-light-darker !important;
}
.bg-accent-light-darkest {
  background-color: $color-light-darkest !important;
}

// accent-dark
.bg-accent-dark {
  background-color: $color-dark !important;
}
.bg-accent-dark-light {
  background-color: $color-dark-light !important;
}
.bg-accent-dark-lighter {
  background-color: $color-dark-lighter !important;
}
.bg-accent-dark-lightest {
  background-color: $color-dark-lightest !important;
}

// success
.bg-success {
  background-color: $color-success !important;
}
.bg-success-dark {
  background-color: $color-success-dark !important;
}
.bg-success-darker {
  background-color: $color-success-darker !important;
}
.bg-success-darkest {
  background-color: $color-success-darkest !important;
}

// warning
.bg-warning {
  background-color: $color-warning !important;
}
.bg-warning-dark {
  background-color: $color-warning-dark !important;
}
.bg-warning-darker {
  background-color: $color-warning-darker !important;
}
.bg-warning-darkest {
  background-color: $color-warning-darkest !important;
}

// danger
.bg-danger {
  background-color: $color-danger !important;
}
.bg-danger-dark {
  background-color: $color-danger-dark !important;
}
.bg-danger-darker {
  background-color: $color-danger-darker !important;
}
.bg-danger-darkest {
  background-color: $color-danger-darkest !important;
}