// primary
.bg-primary {
  background-color: $primary !important;
}
.bg-primary-light {
  background-color: $primary-light !important;
}
.bg-primary-lighter {
  background-color: $primary-lighter !important;
}
.bg-primary-lightest {
  background-color: $primary-lightest !important;
}
.bg-primary-dark {
  background-color: $primary-dark !important;
}
.bg-primary-darker {
  background-color: $primary-darker !important;
}
.bg-primary-darkest {
  background-color: $primary-darkest !important;
}

// accent-1
.bg-accent-1 {
  background-color: $accent-1 !important;
}
.bg-accent-1-light {
  background-color: $accent-1-light !important;
}
.bg-accent-1-lighter {
  background-color: $accent-1-lighter !important;
}
.bg-accent-1-lightest {
  background-color: $accent-1-lightest !important;
}
.bg-accent-1-dark {
  background-color: $accent-1-dark !important;
}
.bg-accent-1-darker {
  background-color: $accent-1-darker !important;
}
.bg-accent-1-darkest {
  background-color: $accent-1-darkest !important;
}

// accent-2
.bg-accent-2 {
  background-color: $accent-2 !important;
}
.bg-accent-2-light {
  background-color: $accent-2-light !important;
}
.bg-accent-2-lighter {
  background-color: $accent-2-lighter !important;
}
.bg-accent-2-lightest {
  background-color: $accent-2-lightest !important;
}
.bg-accent-2-dark {
  background-color: $accent-2-dark !important;
}
.bg-accent-2-darker {
  background-color: $accent-2-darker !important;
}
.bg-accent-2-darkest {
  background-color: $accent-2-darkest !important;
}

// accent-light
.bg-accent-light {
  background-color: $accent-light !important;
}
.bg-accent-light-dark {
  background-color: $accent-light-dark !important;
}
.bg-accent-light-darker {
  background-color: $accent-light-darker !important;
}
.bg-accent-light-darkest {
  background-color: $accent-light-darkest !important;
}

// accent-dark
.bg-accent-dark {
  background-color: $accent-dark !important;
}
.bg-accent-dark-light {
  background-color: $accent-dark-light !important;
}
.bg-accent-dark-lighter {
  background-color: $accent-dark-lighter !important;
}
.bg-accent-dark-lightest {
  background-color: $accent-dark-lightest !important;
}

// success
.bg-success {
  background-color: $success !important;
}
.bg-success-dark {
  background-color: $success-dark !important;
}
.bg-success-darker {
  background-color: $success-darker !important;
}
.bg-success-darkest {
  background-color: $success-darkest !important;
}

// warning
.bg-warning {
  background-color: $warning !important;
}
.bg-warning-dark {
  background-color: $warning-dark !important;
}
.bg-warning-darker {
  background-color: $warning-darker !important;
}
.bg-warning-darkest {
  background-color: $warning-darkest !important;
}

// danger
.bg-danger {
  background-color: $danger !important;
}
.bg-danger-dark {
  background-color: $danger-dark !important;
}
.bg-danger-darker {
  background-color: $danger-darker !important;
}
.bg-danger-darkest {
  background-color: $danger-darkest !important;
}