// primary
.border-primary {
  border: 1px solid $primary !important;
}
.border-primary-light {
  border: 1px solid $primary-light !important;
}
.border-primary-lighter {
  border: 1px solid $primary-lighter !important;
}
.border-primary-lightest {
  border: 1px solid $primary-lightest !important;
}
.border-primary-dark {
  border: 1px solid $primary-dark !important;
}
.border-primary-darker {
  border: 1px solid $primary-darker !important;
}
.border-primary-darkest {
  border: 1px solid $primary-darkest !important;
}

// accent-1
.border-accent-1 {
  border: 1px solid $accent-1 !important;
}
.border-accent-1-light {
  border: 1px solid $accent-1-light !important;
}
.border-accent-1-lighter {
  border: 1px solid $accent-1-lighter !important;
}
.border-accent-1-lightest {
  border: 1px solid $accent-1-lightest !important;
}
.border-accent-1-dark {
  border: 1px solid $accent-1-dark !important;
}
.border-accent-1-darker {
  border: 1px solid $accent-1-darker !important;
}
.border-accent-1-darkest {
  border: 1px solid $accent-1-darkest !important;
}

// accent-2
.border-accent-2 {
  border: 1px solid $accent-2 !important;
}
.border-accent-2-light {
  border: 1px solid $accent-2-light !important;
}
.border-accent-2-lighter {
  border: 1px solid $accent-2-lighter !important;
}
.border-accent-2-lightest {
  border: 1px solid $accent-2-lightest !important;
}
.border-accent-2-dark {
  border: 1px solid $accent-2-dark !important;
}
.border-accent-2-darker {
  border: 1px solid $accent-2-darker !important;
}
.border-accent-2-darkest {
  border: 1px solid $accent-2-darkest !important;
}

// accent-light
.border-accent-light {
  border: 1px solid $accent-light !important;
}
.border-accent-light-dark {
  border: 1px solid $accent-light-dark !important;
}
.border-accent-light-darker {
  border: 1px solid $accent-light-darker !important;
}
.border-accent-light-darkest {
  border: 1px solid $accent-light-darkest !important;
}

// accent-dark
.border-accent-dark {
  border: 1px solid $accent-dark !important;
}
.border-accent-dark-light {
  border: 1px solid $accent-dark-light !important;
}
.border-accent-dark-lighter {
  border: 1px solid $accent-dark-lighter !important;
}
.border-accent-dark-lightest {
  border: 1px solid $accent-dark-lightest !important;
}

// success
.border-success {
  border: 1px solid $success !important;
}
.border-success-dark {
  border: 1px solid $success-dark !important;
}
.border-success-darker {
  border: 1px solid $success-darker !important;
}
.border-success-darkest {
  border: 1px solid $success-darkest !important;
}

// warning
.border-warning {
  border: 1px solid $warning !important;
}
.border-warning-dark {
  border: 1px solid $warning-dark !important;
}
.border-warning-darker {
  border: 1px solid $warning-darker !important;
}
.border-warning-darkest {
  border: 1px solid $warning-darkest !important;
}

// danger
.border-danger {
  border: 1px solid $danger !important;
}
.border-danger-dark {
  border: 1px solid $danger-dark !important;
}
.border-danger-darker {
  border: 1px solid $danger-darker !important;
}
.border-danger-darkest {
  border: 1px solid $danger-darkest !important;
}