// primary
.color-primary {
  color: $color-1 !important;
}
.color-primary-light {
  color: $color-1-light !important;
}
.color-primary-lighter {
  color: $color-1-lighter !important;
}
.color-primary-lightest {
  color: $color-1-lightest !important;
}
.color-primary-dark {
  color: $color-1-dark !important;
}
.color-primary-darker {
  color: $color-1-darker !important;
}
.color-primary-darkest {
  color: $color-1-darkest !important;
}

// accent-1
.color-accent-1 {
  color: $color-2 !important;
}
.color-accent-1-light {
  color: $color-2-light !important;
}
.color-accent-1-lighter {
  color: $color-2-lighter !important;
}
.color-accent-1-lightest {
  color: $color-2-lightest !important;
}
.color-accent-1-dark {
  color: $color-2-dark !important;
}
.color-accent-1-darker {
  color: $color-2-darker !important;
}
.color-accent-1-darkest {
  color: $color-2-darkest !important;
}

// accent-2
.color-accent-2 {
  color: $color-3 !important;
}
.color-accent-2-light {
  color: $color-3-light !important;
}
.color-accent-2-lighter {
  color: $color-3-lighter !important;
}
.color-accent-2-lightest {
  color: $color-3-lightest !important;
}
.color-accent-2-dark {
  color: $color-3-dark !important;
}
.color-accent-2-darker {
  color: $color-3-darker !important;
}
.color-accent-2-darkest {
  color: $color-3-darkest !important;
}

// accent-light
.color-accent-light {
  color: $color-light !important;
}
.color-accent-light-dark {
  color: $color-light-dark !important;
}
.color-accent-light-darker {
  color: $color-light-darker !important;
}
.color-accent-light-darkest {
  color: $color-light-darkest !important;
}

// accent-dark
.color-accent-dark {
  color: $color-dark !important;
}
.color-accent-dark-light {
  color: $color-dark-light !important;
}
.color-accent-dark-lighter {
  color: $color-dark-lighter !important;
}
.color-accent-dark-lightest {
  color: $color-dark-lightest !important;
}

// success
.color-success {
  color: $success !important;
}
.color-success-dark {
  color: $success-dark !important;
}
.color-success-darker {
  color: $success-darker !important;
}
.color-success-darkest {
  color: $success-darkest !important;
}

// warning
.color-warning {
  color: $warning !important;
}
.color-warning-dark {
  color: $warning-dark !important;
}
.color-warning-darker {
  color: $warning-darker !important;
}
.color-warning-darkest {
  color: $warning-darkest !important;
}

// danger
.color-danger {
  color: $danger !important;
}
.color-danger-dark {
  color: $danger-dark !important;
}
.color-danger-darker {
  color: $danger-darker !important;
}
.color-danger-darkest {
  color: $danger-darkest !important;
}