// width
.full-width {
  width: 100%;
}
.width-100 {
  width: 100px;
}
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px;
}
.width-400 {
  width: 400px;
}
.width-500 {
  width: 500px;
}
.width-600 {
  width: 600px;
}
.width-700 {
  width: 700px;
}
.width-800 {
  width: 800px;
}
.width-900 {
  width: 900px;
}
.width-1000 {
  width: 1000px;
}