@mixin button($color: $accent-light, $background-color: $primary, $hover-background-color: $primary-dark, $active-background-color: $primary-darker) {
  color: $color;
  background-color: $background-color;
  display: inline-block;
  border: $btn-border;
  padding: $btn-padding;
  margin: $btn-margin;
  font-size: $btn-font-size;
  line-height: $btn-font-size;
  &:hover {
    background-color: $hover-background-color;
    cursor: pointer;
  }
  &:active {
    background-color: $active-background-color;
    outline: none;
  }
}

