@mixin form-global() {
  display: block;
  margin: $form-margin;
  width: $form-width;
  box-sizing: $form-box-sizing;
  border: $form-border;
  &:focus {
    outline: $form-focus-outline;
    border: $form-focus-border;
  }
}

@mixin form-input() {
  padding: $form-input-padding;
}
