@mixin nav-core() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin horizontal-list-core() {
  @include nav-core();
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

@mixin horizontal-nav-core($bg, $fg, $bg-hover, $fg-hover, $padding, $font-size) {
  @include horizontal-list-core;
  li {
    a {
      display: inline-block;
      font-size: $font-size;
      margin: 0;
      padding: $padding;
      background-color: $bg;
      color: $fg;
      &:hover {
        text-decoration: none;
        background: $bg-hover;
        color: $fg-hover;
        span, i {
          background: $bg-hover;
          color: $fg-hover;
        }
      }
      span, i {
        background-color: $bg;
        color: $fg;
      }
    }
  }
}
