@mixin heading($size) {
  font-size: $size;
}

@mixin subheading($size) {
  font-size: $size * $subheading-size-factor;
}

@mixin unordered-list($type) {
  list-style-type: $type;
  ul, ul ul {
    list-style-type: $type;
  }
}

