@mixin button($color: $color-light, $background-color: $color-1, $hover-background-color: $color-1-dark, $active-background-color: $color-1-darker) {
  color: $color;
  background-color: $background-color;
  display: inline-block;
  border: $btn-border;
  padding: $btn-padding;
  margin: $btn-margin;
  fontSize: $btn-fontSize;
  line-height: $btn-fontSize;
  &:hover {
    background-color: $hover-background-color;
    cursor: pointer;
  }
  &:active {
    background-color: $active-background-color;
    outline: none;
  }
}

// default buttons
button {
  @include button($btn-color, $btn-background-color, $btn-hover-background-color, $btn-active-background-color);
}

a.button, .button {
  @include button($btn-color, $btn-background-color, $btn-hover-background-color, $btn-active-background-color);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

input[type=submit], form > input[type=submit] {
  @include button($btn-color, $btn-background-color, $btn-hover-background-color, $btn-active-background-color);
}

// sizes
button.huge, a.button.huge {
  fontSize: $btn-huge-fontSize;
}

button.large, a.button.large {
  fontSize: $btn-large-fontSize;
}

button.small, a.button.small {
  fontSize: $btn-small-fontSize;
}

// colors
button.primary, a.button.primary {
  @include button($color-light, $color-1, $color-1-dark, $color-1-darker);
}

button.accent-1, a.button.accent-1 {
  @include button($color-light, $color-2, $color-2-dark, $color-2-darker);
}

button.accent-2, a.button.accent-2 {
  @include button($color-light, $color-3, $color-3-dark, $color-3-darker);
}

button.accent-3, a.button.accent-3 {
  @include button($color-light, $color-4, $color-4-dark, $color-4-darker);
}

button.accent-4, a.button.accent-4 {
  @include button($color-light, $color-5, $color-5-dark, $color-5-darker);
}

button.dark, a.button.dark {
  @include button($color-light, $color-dark, $color-dark-light, $color-dark-lightest);
}

button.light, a.button.light {
  @include button($color-dark, $color-light-dark, $color-light-darker, $color-light-darkest);
}

button.success, a.button.success {
  @include button($color-light, $success, $success-dark, $success-darker);
}

button.notice, a.button.notice {
  @include button($color-light, $warning, $warning-dark, $warning-darker);
}

button.alert, a.button.alert {
  @include button($color-light, $danger, $danger-dark, $danger-darker);
}

// block
button.block, a.button.block, input[type=submit].block, form > input[type=submit].block {
  @include button($btn-color, $btn-background-color, $btn-hover-background-color, $btn-active-background-color);
  display: block;
  width: 100%;
}

// disabled
button, input[type=submit], form > input[type=submit] {
  &:disabled {
    @include button($color-dark-lightest, $color-dark-lighter, $color-dark-lighter, $color-dark-lighter);
    &:hover {
      cursor: default;
    }
  }
}

a.button.disabled, .button.disabled {
  @include button($color-dark-lightest, $color-dark-lighter, $color-dark-lighter, $color-dark-lighter);
  &:hover {
    cursor: default;
  }
}
