// default buttons
button {
  @include button($button-color, $button-background-color, $button-hover-background-color, $button-active-background-color);
}

a.button, .button {
  @include button($button-color, $button-background-color, $button-hover-background-color, $button-active-background-color);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

input[type=submit], form > input[type=submit] {
  @include button($button-color, $button-background-color, $button-hover-background-color, $button-active-background-color);
}

// sizes
button.huge, a.button.huge {
  font-size: $button-huge-font-size;
}

button.large, a.button.large {
  font-size: $button-large-font-size;
}

button.small, a.button.small {
  font-size: $button-small-font-size;
}

// colors
button.primary, a.button.primary {
  @include button($accent-light, $primary, $primary-dark, $primary-darker);
}

button.success, a.button.success {
  @include button($accent-light, $success, $success-dark, $success-darker);
}

button.notice, a.button.notice {
  @include button($accent-light, $warning, $warning-dark, $warning-darker);
}

button.alert, a.button.alert {
  @include button($accent-light, $danger, $danger-dark, $danger-darker);
}
