@mixin notification($bg) {
  background: $bg;
  padding: 0.5em 1em;
  width: 100%;
  color: $accent-light;
}

.alert {
  @include notification($danger);
}
.notice {
  @include notification($primary);
}
.danger {
  @include notification($danger);
}
.warning {
  @include notification($warning);
}
.success {
  @include notification($success);
}
