* {
  font-family: $default-font-family;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
  color: $default-color;
  line-height: $default-line-height;
}

.container {
  max-width: $container-width;
  margin: auto;
  padding: $container-padding;
  @include clearfix;
  clear: both;
  display: block;
}

hr {
  border: none;
  background: $hr-color;
  margin: $hr-margin;
  height: $hr-height;
}

div {
  box-sizing: border-box;
}
