.row {
  width: 100%;
  float: left;
}

.column {
  display: inline-block;
  float: left;
  margin: $grid-col-margin-top-bottom $grid-col-margin;
  padding: $grid-col-padding-top-bottom $grid-col-padding;
}

.span-full {
  margin: 0;
  width: 100 - (2 * $grid-col-padding);
}

.span-1 {
  @include column-width(1);
}

.span-2 {
  @include column-width(2);
}

.span-3 {
  @include column-width(3);
}

.span-4 {
  @include column-width(4);
}

.span-5 {
  @include column-width(5);
}

.span-6 {
  @include column-width(6);
}

.span-7 {
  @include column-width(7);
}

.span-8 {
  @include column-width(8);
}

.span-9 {
  @include column-width(9);
}

.span-10 {
  @include column-width(10);
}

.span-11 {
  @include column-width(11);
}

.span-12 {
  @include column-width(12);
}

.span-13 {
  @include column-width(13);
}

.span-14 {
  @include column-width(14);
}

.span-15 {
  @include column-width(15);
}

.span-16 {
  @include column-width(16);
}

.span-17 {
  @include column-width(17);
}

.span-18 {
  @include column-width(18);
}

.span-19 {
  @include column-width(19);
}

.span-20 {
  @include column-width(20);
}

.span-21 {
  @include column-width(21);
}

.span-22 {
  @include column-width(22);
}

.span-23 {
  @include column-width(23);
}

.span-24 {
  @include column-width(24);
}