@mixin normalize-ul() {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin effect($bg, $color, $transition) {
  background: $bg;
  color: $color;
  transition: $transition;
}

@mixin nav-a(
  $fontSize: $nav-fontSize,
  $margin: $mav-margin,
  $padding: $nav-padding,
  $background: $nav-background,
  $color: $nav-color,
  $underline: $nav-underline,
  $transition: $nav-transition,
  $hover-background: $nav-hover-background,
  $hover-color: $nav-hover-color,
  $hover-underline: $nav-hover-underline,
  $hover-transition: $nav-hover-transition
) {
  fontSize: $fontSize;
  padding: $padding;
  margin: $margin;
  @include effect($background, $color, $transition);
  border-bottom: $underline;
  &:hover {
    @include effect($hover-background, $hover-color, $hover-transition);
    border-bottom: $hover-underline;
    span, i {
      @include effect($hover-background, $hover-color, $hover-transition);
    }
  }
  span, i {
    @include effect($background, $color, $transition)
  }
}

nav, div.nav {
  width: 100%;
  background: $nav-container-background;
  overflow: hidden;
  ul {
    @include normalize-ul();
    float: left;
    &.right {
      float: right;
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        @include nav-a(
          $nav-fontSize,
          $nav-margin,
          $nav-padding,
          $nav-background,
          $nav-color, 
          $nav-underline,
          $nav-transition,
          $nav-hover-background,
          $nav-hover-color,
          $nav-hover-underline,
          $nav-hover-transition
        );
      }
    }
  }
}

nav.bar, div.nav.bar {
  background: $navbar-container-background;
  ul {
    li a {
      @include nav-a(
        $navbar-fontSize,
        $navbar-margin,
        $navbar-padding,
        $navbar-background,
        $navbar-color, 
        $navbar-underline,
        $navbar-transition,
        $navbar-hover-background,
        $navbar-hover-color,
        $navbar-hover-underline,
        $navbar-hover-transition
      );
    }
  }
}

nav.vertical, div.nav.vertical {
  background: $nav-vertical-container-background;
  ul {
    li {
      display: block;
      a {
        display: block;
        @include nav-a(
          $nav-vertical-fontSize,
          $nav-vertical-margin,
          $nav-vertical-padding,
          $nav-vertical-background,
          $nav-vertical-color, 
          $nav-vertical-underline,
          $nav-vertical-transition,
          $nav-vertical-hover-background,
          $nav-vertical-hover-color,
          $nav-vertical-hover-underline,
          $nav-vertical-hover-transition
        );
      }
    }
  }
}

ul.filter {
  @include normalize-ul();
  li {
    display: inline-block;
    a {
      display: inline-block;
      @include nav-a(
        $nav-filter-fontSize,
        $nav-filter-margin,
        $nav-filter-padding,
        $nav-filter-background,
        $nav-filter-color, 
        $nav-filter-underline,
        $nav-filter-transition,
        $nav-filter-hover-background,
        $nav-filter-hover-color,
        $nav-filter-hover-underline,
        $nav-filter-hover-transition
      );
    }
    &.active a {
      background: $nav-filter-active-background;
      color: $nav-filter-active-color;
      font-weight: $nav-filter-active-font-weight;
      border-bottom: $nav-filter-active-underline;
    }
    &.disabled a {
      background: $nav-filter-disabled-background;
      color: $nav-filter-disabled-color;
      border-bottom: $nav-filter-disabled-underline;
    }
  }
}

ul.breadcrumbs {
  @include normalize-ul();
  li {
    display: inline-block;
    a {
      display: inline-block;
      @include nav-a(
        $nav-breadcrumbs-fontSize,
        $nav-breadcrumbs-margin,
        $nav-breadcrumbs-padding,
        $nav-breadcrumbs-background,
        $nav-breadcrumbs-color, 
        $nav-breadcrumbs-underline,
        $nav-breadcrumbs-transition,
        $nav-breadcrumbs-hover-background,
        $nav-breadcrumbs-hover-color,
        $nav-breadcrumbs-hover-underline,
        $nav-breadcrumbs-hover-transition
      );
    }
    &:after {
      content: $nav-breadcrumbs-separator;
      color: $color-light-darker;
    }
    &:last-child:after {
      content: "";
    }
    &.active a {
      background: $nav-breadcrumbs-active-background;
      color: $nav-breadcrumbs-active-color;
      font-weight: $nav-breadcrumbs-active-font-weight;
      border-bottom: $nav-breadcrumbs-active-underline;
    }
    &.disabled a {
      background: $nav-breadcrumbs-disabled-background;
      color: $nav-breadcrumbs-disabled-color;
      border-bottom: $nav-breadcrumbs-disabled-underline;
    }
  }
}