h1, h2, h3, h4, h5, h6 {
  margin: $heading-margin;
  color: $heading-color;
  font-weight: $heading-font-weight;
  @if $heading-caps == true {
    text-transform: uppercase;
  }

  small {
    font-size: $heading-small-factor;
    color: $heading-small-color;
  }
}

h1 {
  @include heading($h1-font-size);
}

h2 {
  @include heading($h2-font-size);
}

h3 {
  @include heading($h3-font-size);
}

h4 {
  @include heading($h4-font-size);
}

h5 {
  @include heading($h5-font-size);
}

h6 {
  @include heading($h6-font-size);
}

.subheading {
  font-weight: $subheading-font-weight;
  color: $subheading-color;
}

h1.subheading {
  @include subheading($h1-font-size);
}

h2.subheading {
  @include subheading($h2-font-size);
}

h3.subheading {
  @include subheading($h3-font-size);
}

h4.subheading {
  @include subheading($h4-font-size);
}

h5.subheading {
  @include subheading($h5-font-size);
}

h6.subheading {
  @include subheading($h6-font-size);
}

p {
  font-weight: $paragraph-font-weight;
  margin: $paragraph-margin;
  line-height: $paragraph-line-height;
  color: $paragraph-color;
}

blockquote {
  padding: $blockquote-padding;
  margin: $blockquote-margin;
  background: $blockquote-background;
  border-left: $blockquote-border-left;
  font-size: $blockquote-font-size;

  code {
    border: none;
    background: transparent;
    font-size: $blockquote-font-size;
  }
}

a {
  color: $link-color;
  @if $link-underline == true {
    text-decoration: underline;
  }
  @else {
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
    @if $link-hover-underline == true {
      text-decoration: underline;
    }
    @else {
      text-decoration: none;
    }
  }
}

small {
  font-size: $small-font-factor;
}

big {
  font-size: $big-font-factor;
}

em {
  font-style: italic;
}

strong {
  font-weight: $strong-font-weight;
}

ul {
  margin-left: $ul-margin-left-level-1;
  list-style-type: $ul-style-type;
  ul, ul ul {
    margin-left: $ul-margin-left-level-2;
  }
  li {
    line-height: $ul-line-height;
  }
}

ol {
  margin: $ol-margin-left-level-1;
  ol, ol ol {
    margin: $ol-margin-left-level-2;
  }
  li {
    line-height: $ol-line-height;
  }
}

ul.disc {
  @include unordered-list(disc);
}

ul.circle {
  @include unordered-list(circle);
}

ul.square {
  @include unordered-list(square);
}

ul.no-bullet {
  @include unordered-list(none);
  margin-left: $ul-margin-left-level-1 - 20px;
  ul, ul ul {
    margin-left: $ul-margin-left-level-2 - 20px;
  }
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: $ul-h-padding;
  }
}
