/* line 4, ../source/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../source/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 37, ../source/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #509CB9;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, ../source/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #407d94;
  color: #fff;
}
/* line 27, ../source/base/_buttons.scss */
button:disabled, button[disabled='true'], input[type="button"]:disabled, input[type="button"][disabled='true'], input[type="reset"]:disabled, input[type="reset"][disabled='true'], input[type="submit"]:disabled, input[type="submit"][disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 31, ../source/base/_buttons.scss */
button:disabled:hover, button[disabled='true']:hover, input[type="button"]:disabled:hover, input[type="button"][disabled='true']:hover, input[type="reset"]:disabled:hover, input[type="reset"][disabled='true']:hover, input[type="submit"]:disabled:hover, input[type="submit"][disabled='true']:hover {
  background-color: #509CB9;
}

/* line 1, ../source/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, ../source/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, ../source/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, ../source/base/_forms.scss */
input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
}

/* line 27, ../source/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(68, 68, 68, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 41, ../source/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}
/* line 45, ../source/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #509CB9;
  box-shadow: inset 0 1px 3px rgba(68, 68, 68, 0.06), 0 0 5px rgba(68, 143, 171, 0.7);
  outline: none;
}
/* line 51, ../source/base/_forms.scss */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 55, ../source/base/_forms.scss */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 61, ../source/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 65, ../source/base/_forms.scss */
[type="search"] {
  appearance: none;
}

/* line 69, ../source/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 75, ../source/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 80, ../source/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../source/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, ../source/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 11, ../source/base/_lists.scss */
dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}
/* line 16, ../source/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../source/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../source/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, ../source/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, ../source/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../source/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, ../source/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0.75em 0;
}

/* line 15, ../source/base/_typography.scss */
h1 {
  font-size: 2.625rem;
}

/* line 19, ../source/base/_typography.scss */
h2 {
  font-size: 2.25rem;
}

/* line 23, ../source/base/_typography.scss */
h3 {
  font-size: 2rem;
}

/* line 27, ../source/base/_typography.scss */
h4 {
  font-size: 1.625rem;
}

/* line 31, ../source/base/_typography.scss */
h5 {
  font-size: 1.375rem;
}

/* line 35, ../source/base/_typography.scss */
h6 {
  font-size: 1.125rem;
}

/* line 40, ../source/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 44, ../source/base/_typography.scss */
a {
  color: #509CB9;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 49, ../source/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #3c758b;
}

/* line 56, ../source/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 64, ../source/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 3, all.scss */
#container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../source/bourbon/addons/_clearfix.scss */
#container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 7, all.scss */
section {
  border-bottom: 1px solid #ddd;
}

/* line 11, all.scss */
.button {
  appearance: none;
  background-color: #509CB9;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0.75em 0.75em 0 0;
}
/* line 21, ../source/base/_buttons.scss */
.button:hover, .button:focus {
  background-color: #407d94;
  color: #fff;
}
/* line 27, ../source/base/_buttons.scss */
.button:disabled, .button[disabled='true'] {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 31, ../source/base/_buttons.scss */
.button:disabled:hover, .button[disabled='true']:hover {
  background-color: #509CB9;
}
