/*
==========================
Bones CSS Framework
==========================

This is the manifest file for Bones' CSS. It's purpose is to bring all files together.

--------------------------

docs on using files coming ...

*/

/*
--------------------------
VENDOR ASSETS
-------------------------- */
@import 'compass';
@import 'vendor/normalize'; // normalizes for cross-browser consistency

/*
--------------------------
VARIABLES
-------------------------- */
@import 'variables/colors';
@import 'variables/globals';
@import 'variables/grid';
@import 'variables/typography';
@import 'variables/code';
@import 'variables/buttons';
@import 'variables/forms';
@import 'variables/tables';
@import 'variables/nav';
@import 'variables/images';
@import 'variables/helpers';

/*
--------------------------
MIXINS
-------------------------- */
@import 'mixins/globals';
@import 'mixins/grid';
@import 'mixins/typography';
@import 'mixins/buttons';
@import 'mixins/forms';
@import 'mixins/nav';

/*
--------------------------
PARTIALS
-------------------------- */
@import 'partials/globals';
@import 'partials/grid';
@import 'partials/typography';
@import 'partials/code';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/tables';
@import 'partials/nav';
@import 'partials/images';
@import 'partials/components';

/*
--------------------------
HELPERS
-------------------------- */
@import 'helpers/margin';
@import 'helpers/padding';
@import 'helpers/positioning';
@import 'helpers/color';
@import 'helpers/background';
@import 'helpers/border';
@import 'helpers/size';
