@mixin button-color($background-color: $action-color, $color: $light) {
  background-color: $background-color;
  color: $color;

  &:hover,
  &:focus {
    background-color: shade($background-color, 10%);
    color: $color;
  }
}

@mixin button {
  @include button-color;
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  margin: $small-spacing 0;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @include media($small) {
    display: inline-block;
    margin: $small-spacing $small-spacing 0 0;
  }

  &:hover, &:focus {
    outline: none;
  }


  &:disabled, &[disabled='true'] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

#{$all-buttons} {
  @include button;
}

@mixin large-button($include-button: true) {
  @if $include-button == true {
    @include button;
  }
  padding: $small-spacing $large-spacing;
  font-size: 1.5em;
}
