@mixin notification($bg) {
  background: $bg;
  padding: 0.5em 1em;
  width: 100%;
  color: $color-light;
}

p, div {
  &.alert {
    @include notification($color-danger);
  }
  &.notice {
    @include notification($color-1);
  }
  &.danger {
    @include notification($color-danger);
  }
  &.warning {
    @include notification($color-warning);
  }
  &.success {
    @include notification($color-success);
  }
}