/* Color Palette
============================ */
$color-1: #1B8FB8; // used most often by default
$color-2: #D65030;
$color-3: #D48D2B;
$color-4: #1F7D24;
$color-5: #BDAD1B;
$color-dark: #444444; // designed to be a dark color
$color-light: #efefef; // designed to be a light color

// used primarily for notifications:
$warning: #CCA300;
$danger: #CC0000;
$success: #008A2E;

/* Tones
============================ */
// color factors -- to increase tone
$color-factor-1: 5%;
$color-factor-2: 15%;
$color-factor-3: 25%;

/*
 * These tone calculations are performed automatically.
 * They provide you with a light, lighter, lightest, 
 * dark, darker, darkest variations of your palette.
 *
 * You don't need to change anything below, but can
 * if you'd like, or you can add new variations.
 */
$color-1-light:     lighten($color-1, $color-factor-1);
$color-1-lighter:   lighten($color-1, $color-factor-2);
$color-1-lightest:  lighten($color-1, $color-factor-3);
$color-1-dark:      darken($color-1, $color-factor-1);
$color-1-darker:    darken($color-1, $color-factor-2);
$color-1-darkest:   darken($color-1, $color-factor-3);

$color-2-light:     lighten($color-2, $color-factor-1);
$color-2-lighter:   lighten($color-2, $color-factor-2);
$color-2-lightest:  lighten($color-2, $color-factor-3);
$color-2-dark:      darken($color-2, $color-factor-1);
$color-2-darker:    darken($color-2, $color-factor-2);
$color-2-darkest:   darken($color-2, $color-factor-3);

$color-3-light:     lighten($color-3, $color-factor-1);
$color-3-lighter:   lighten($color-3, $color-factor-2);
$color-3-lightest:  lighten($color-3, $color-factor-3);
$color-3-dark:      darken($color-3, $color-factor-1);
$color-3-darker:    darken($color-3, $color-factor-2);
$color-3-darkest:   darken($color-3, $color-factor-3);

$color-4-light:     lighten($color-4, $color-factor-1);
$color-4-lighter:   lighten($color-4, $color-factor-2);
$color-4-lightest:  lighten($color-4, $color-factor-3);
$color-4-dark:      darken($color-4, $color-factor-1);
$color-4-darker:    darken($color-4, $color-factor-2);
$color-4-darkest:   darken($color-4, $color-factor-3);

$color-5-light:     lighten($color-5, $color-factor-1);
$color-5-lighter:   lighten($color-5, $color-factor-2);
$color-5-lightest:  lighten($color-5, $color-factor-3);
$color-5-dark:      darken($color-5, $color-factor-1);
$color-5-darker:    darken($color-5, $color-factor-2);
$color-5-darkest:   darken($color-5, $color-factor-3);

$color-dark-light:     lighten($color-dark, $color-factor-1);
$color-dark-lighter:   lighten($color-dark, $color-factor-2);
$color-dark-lightest:  lighten($color-dark, $color-factor-3);

$color-light-dark:      darken($color-light, $color-factor-1);
$color-light-darker:    darken($color-light, $color-factor-2);
$color-light-darkest:   darken($color-light, $color-factor-3);

$success-light:     lighten($success, $color-factor-1);
$success-lighter:   lighten($success, $color-factor-2);
$success-lightest:  lighten($success, $color-factor-3);
$success-dark:      darken($success, $color-factor-1);
$success-darker:    darken($success, $color-factor-2);
$success-darkest:   darken($success, $color-factor-3);

$warning-light:     lighten($warning, $color-factor-1);
$warning-lighter:   lighten($warning, $color-factor-2);
$warning-lightest:  lighten($warning, $color-factor-3);
$warning-dark:      darken($warning, $color-factor-1);
$warning-darker:    darken($warning, $color-factor-2);
$warning-darkest:   darken($warning, $color-factor-3);

$danger-light:     lighten($danger, $color-factor-1);
$danger-lighter:   lighten($danger, $color-factor-2);
$danger-lightest:  lighten($danger, $color-factor-3);
$danger-dark:      darken($danger, $color-factor-1);
$danger-darker:    darken($danger, $color-factor-2);
$danger-darkest:   darken($danger, $color-factor-3);